.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.number {
	font-size: 10em;
	color: red;
}

.text {
	color: red;
	font-size: 3em;
}

.smile {
	color: red;
	font-size: 2em;
}
